.app {
  max-width: 640px;
}

.app-header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card:not(.card-plain):hover {
  box-shadow: 0px 12px 19px -7px;
  transform: translateY(0);
}